body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(imagenes/DALL·E\ 2025-01-19\ 16.38.00\ -\ A\ clean\ and\ minimalistic\ background\ image\ for\ a\ school-themed\ webpage.\ The\ design\ features\ soft\ neutral\ tones\ like\ light\ gray\ and\ white\ with\ subtle\ gr.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #333;
}
header {
    background-image: url(imagenes/fondo.jpeg);
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
nav a:hover {
    background-color: #4CAF50;
}

@media (max-width: 320px) and (max-height: 480px) {
    .hola{
        width: 331px;
        height: 322px;
        border-radius: 0px;
    }
    }
    @media (max-width: 481px) and (max-height: 768px){
    .hola{
      width: 319px;
      height: 390px;
      border-radius: 0px;
    }
    }